$phoneLandscape: 768px;
$phonePortrait: 572px;

@mixin phoneLandscape {
    @media (max-width: #{$phoneLandscape}){
        @content;
    }
}

@mixin phonePortrait {
    @media (max-width: #{$phonePortrait}){
        @content;
    }
}

.footer {
    width: 100%;
    background: #141414;
    line-height: 23px;
    margin-top: 90px;
}

.footer__upper {
    padding: 12px 0;
    color: #2b95f3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    font-size: 18px;
    background: lighten(#141414, 1%);

    @include phoneLandscape {
        flex-direction: column;
        gap: 12px;
        text-align: center;
        padding: 12px;
    }
}

.footer__middle {
    padding: 64px 0;

    @include phonePortrait {
        padding: 32px 0;
    }
}

.footer__main-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;

    @include phonePortrait {
        flex-direction: column-reverse;
        align-items: center;
        gap: 48px;
    }
}

.footer__main-left-container {
    color: white;
    text-align: center;
    position: relative;
}

.footer__socials {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 32px;

    .footer__social-link:first-child > i {
        color: #bc2a8d;

        &:hover {
            color: lighten(#bc2a8d, 20%);
        }
    }

    .footer__social-link:nth-child(2) > i {
        color: #4267B2;

        &:hover {
            color: lighten(#4267B2, 20%);
        }
    }

    .footer__social-link:last-child > i {
        color: #FF0000;

        &:hover {
            color: lighten(#FF0000, 20%);
        }
    }
}

.footer__social-link {
    text-decoration: none;
    
    i {
        font-size: 36px;
        transition: .2s;
    }
}

.footer__main-right-container {
    color: white;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        height: calc(100% + 40px);
        width: 2px;
        background: #2b95f3;
        left: -40px;
        top: 50%;
        transform: translateY(-50%);

        @include phonePortrait {
            left: 50%;
            top: unset;
            width: calc(100% + 40px);
            height: 2px;
            transform: translateX(-50%);
            bottom: -24px;
        }
    }
}

.footer__contact-info {
    margin-top: 16px;
    
    p {
        color: white;
        margin: 10px 0;
    }

    i {
        color: #2b95f3;
        margin-right: 8px;
    }
}

.footer__bottom {
    background: lighten(#141414, 1%);
    padding: 12px 0;
    text-align: center;
    color: white;

    @include phoneLandscape {
        padding: 12px;
    }

    p:last-child {
        margin-top: 4px;

        @include phoneLandscape {
            padding: 8px;
        }
    }

    p > span {
        color: #2b95f3;
    }
}