$optionalThree: 1400px;
$laptop: 1200px;
$optionalFour: 927px;
$phoneLandscape: 768px;
$phonePortrait: 572px;
$phoneSmall: 370px;

@mixin optionalThree {
    @media (max-width: #{$optionalThree}){
        @content;
    }
}

@mixin optionalFour {
    @media (max-width: #{$optionalFour}){
        @content;
    }
}

@mixin laptop {
    @media (max-width: #{$laptop}){
        @content;
    }
}

@mixin phoneLandscape {
    @media (max-width: #{$phoneLandscape}){
        @content;
    }
}

@mixin phonePortrait {
    @media (max-width: #{$phonePortrait}){
        @content;
    }
}

@mixin phoneSmall {
    @media (max-width: #{$phoneSmall}){
        @content;
    }
}

// Main sekcija

.main-section {
    width: 100%;
    height: 100vh;
    background-image: url('../../../images/mainPageBackground.webp');
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.main-section__box {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-section__title {
    color: white;
    font-size: 68px;
    padding-bottom: 8px;

    @include phoneLandscape {
        font-size: 52px;
        text-align: center;
    }

    @include phonePortrait {
        font-size: 42px;
        padding: 0 12px;
    }
}

.main-section__description {
    color: white;
    font-size: 28px;

    @include phoneSmall {
        text-align: center;
        font-size: 22px;
    }
}

.main-section__button {
    margin-top: 24px;

    &.is-inactive {
        transform: translateX(1400px);
    }
}

// Offers sekcija

.offers-section {
    padding: 64px 32px;

    @include phoneLandscape {
        padding: 40px 32px;
    }

    @include phonePortrait {
        padding: 40px 16px;
    }

    h2 {

        @include phoneLandscape {
            font-size: 28px;
        }

        @include phoneSmall {
            font-size: 24px;
        }
    }

    span {
        @include phoneLandscape {
            font-size: 24px;
        }
        
        @include phoneSmall {
            font-size: 22px;
        }
    }
}

.offers-section__offers {
    display: flex;
    justify-content: center;
    gap: 64px;
    margin-top: 64px;

    @include optionalThree {
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 32px;
    }
}

.offers-section__box {
    max-width: 400px;
    text-align: center;
    text-decoration: none;
    transition: .2s;
    border-radius: 6px;

    @include optionalFour {
        max-width: 75%;
    }

    @include phonePortrait {
        max-width: 95%;
    }

    &:hover {
        box-shadow: 6px 6px 26px -5px rgba(0,0,0,0.75);
    }
}

.offers-section__box-image {
    width: 400px;
    border-radius: 6px;

    @include optionalFour {
        width: 100%;
    }
}

.offers-section__box-title {
    padding-top: 16px;
    font-size: 24px;
    color: #2b95f3;
}

.offers-section__box-description {
    padding: 16px 24px 24px 24px;
    color: #141414;
    font-weight: 500;
    line-height: 24px;

    @include phonePortrait {
        padding: 12px 18px 18px 18px;
    }
}

.offers-section__snow-stars-container {
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-top: 80px;

    @include optionalFour {
        margin-top: 40px;
    }

    @include phonePortrait {
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }
}

.offers-section__snow-stars-image {
    pointer-events: none;
}

.offers-section__snow-stars-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-weight: 500;
    font-size: 16px;

    @include phonePortrait {
        text-align: center;
    }
}

// About section

.about-section {
    padding: 64px 32px 0 32px;

    @include laptop {
        padding: 40px 8px 0 8px;
    }

    @include phonePortrait {
        padding: 28px 8px 0 8px;
    }

    h2 {

        @include phonePortrait {
            font-size: 32px;
        }

        span {

            @include phonePortrait {
                font-size: 24px;
            }
        }
    }
}

.about-section__container {
    width: 90%;
    margin: 52px auto;
    display: flex;
    align-items: center;
    gap: 64px;

    @include laptop {
        flex-direction: column;
        margin: 20px auto;
    }

    @include phonePortrait {
        margin: 20px;
        gap: 36px;
    }
}

.about-section__title {
    font-size: 18px;
    padding-bottom: 24px;
}

.about-section__info {
    position: relative;
    border-left: 4px solid #2b95f3;
    border-radius: 6px;
    padding: 16px 0 16px 32px;
    line-height: 24px;
    font-weight: 500;

    @include phonePortrait {
        padding: 16px 0 16px 16px;
    }
}

.about-section__list {
    margin-top: 12px;
    font-weight: 700;
    list-style-type: none;
    color: darken(#2b95f3, 20%);

    li {
        margin: 4px 0;
    }
}

.about-section__image {
    width: 400px;
    border-radius: 6px;

    @include phonePortrait {
        width: 100%;
    }
}

// Global styles in main page

h2 {
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    padding-bottom: 3px;
    color: #141414;

    span {
        display: block;
        color: #2b95f3;
        margin-top: 8px;
        font-size: 28px;
    }
}


.custom-shape-divider-bottom-1671954503 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1671954503 svg {
    position: relative;
    display: block;
    width: calc(109% + 1.3px);
    height: 72px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1671954503 .shape-fill {
    fill: white;
}